.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.625rem 1.25rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 0.0625rem solid var(--btn-text-color);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn:hover:not(:disabled) {
  opacity: 0.8;
  transform: translateY(-0.0625rem);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.active {
  background: linear-gradient(90deg,rgba(69, 65, 87, 1) 0%, rgba(36, 36, 82, 1) 35%, rgba(96, 96, 156, 1) 100%);
}

