.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.pageTitle {
  font-size: 2.5rem;
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  width: 100%;
}